* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.top,.bottom {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('/assits/p1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-transform: uppercase;
        color: whitesmoke;
        word-spacing: 2px;
        letter-spacing: 1px;
        border: 1px solid white;
        padding: 10px 20px;
        backdrop-filter: blur(18px);
        border-radius: 10px;
        transition: 0.5s ease-in-out;
    }

    h1:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}
.bottom{
    background-image: url('/assits/p4.jpg');
}
.middle {
    height: 100vh;

    .content {
        padding: 10px 10%;
        background-color: #ffffff;
        height: 30vh;
        text-align: center;

        h2 {
            text-transform: uppercase;
            color: rgb(255, 118, 6);
            font-weight: 500;
        }

        p {
            color: rgb(0, 0, 0);
            padding: 10px 0;
            line-height: 1.4;
        }
    }

    .image-middle {
        height: 70vh;

        position: relative;
        img {
            height: 100%;
            width: 100%;
            vertical-align: bottom;
        }

        h2 {
            color: white;
            position: absolute;
            transform: translate(-50%,-50%);
            z-index: 2;
            height: 100%;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.center {
    height: 100vh;

    .content {
        padding: 4.5% 10%;
        background-color: #333;
        height: 50vh;
        text-align: center;

        h2 {
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-weight: 500;
        }

        p {
            color: rgb(255, 255, 255);
            padding: 10px 0;
            line-height: 1.5;
        }
    }

    .image-center {
        height: 50vh;

        img {
            height: 100%;
            width: 100%;
            vertical-align: bottom;
        }
    }
}